<h1>Editing service provision</h1>

<%= render "form", service_provision: @service_provision %>

<br>

<div>
  <%= link_to "Show this service provision", @service_provision %> |
  <%= link_to "Back to service provisions", service_provisions_path %>
</div>
